[submodule "express"]
	path = express
	url = https://github.com/malcolmston/express.git
	branch = main
[submodule "passport"]
	path = passport
	url = https://github.com/malcolmston/passport.git
	branch = main
[submodule "socket.io"]
	path = socket.io
	url = https://github.com/malcolmston/socket.io.git
	branch = main
[submodule "chalk"]
	path = chalk
	url = https://github.com/malcolmston/chalk.git
	branch = main
[submodule "morgan"]
	path = morgan
	url = https://github.com/malcolmston/morgan.git
	branch = main
[submodule "fastmcp"]
	path = fastmcp
	url = https://github.com/malcolmston/fastmcp.git
	branch = main
[submodule "streamlit"]
	path = streamlit
	url = https://github.com/malcolmston/streamlit.git
	branch = main
[submodule "algebra"]
	path = algebra
	url = https://github.com/malcolmston/algebra.git
	branch = main
[submodule "opencv"]
	path = opencv
	url = https://github.com/malcolmston/opencv.git
	branch = main
[submodule "oban"]
	path = oban
	url = https://github.com/malcolmston/oban.git
	branch = main
[submodule "gltf"]
	path = gltf
	url = https://github.com/malcolmston/gltf.git
	branch = main
[submodule "sled"]
	path = sled
	url = https://github.com/malcolmston/sled.git
	branch = main
[submodule "migrate"]
	path = migrate
	url = https://github.com/malcolmston/migrate.git
	branch = main
[submodule "lucene"]
	path = lucene
	url = https://github.com/malcolmston/lucene.git
	branch = main
[submodule "quartz"]
	path = quartz
	url = https://github.com/malcolmston/quartz.git
	branch = main
[submodule "liveview"]
	path = liveview
	url = https://github.com/malcolmston/liveview.git
	branch = main
[submodule "sqlite"]
	path = sqlite
	url = https://github.com/malcolmston/sqlite.git
	branch = main
[submodule "pandas"]
	path = pandas
	url = https://github.com/malcolmston/pandas.git
	branch = main
[submodule "numpy"]
	path = numpy
	url = https://github.com/malcolmston/numpy.git
	branch = main
[submodule "matplotlib"]
	path = matplotlib
	url = https://github.com/malcolmston/matplotlib.git
	branch = main
[submodule "pdfkit"]
	path = pdfkit
	url = https://github.com/malcolmston/pdfkit.git
	branch = main
[submodule "redis"]
	path = redis
	url = https://github.com/malcolmston/redis.git
	branch = main
[submodule "sharp"]
	path = sharp
	url = https://github.com/malcolmston/sharp.git
	branch = main
[submodule "puppeteer"]
	path = puppeteer
	url = https://github.com/malcolmston/puppeteer.git
	branch = main
[submodule "axios"]
	path = axios
	url = https://github.com/malcolmston/axios.git
	branch = main
[submodule "lodash"]
	path = lodash
	url = https://github.com/malcolmston/lodash.git
	branch = main
[submodule "moment"]
	path = moment
	url = https://github.com/malcolmston/moment.git
	branch = main
[submodule "jest"]
	path = jest
	url = https://github.com/malcolmston/jest.git
	branch = main
[submodule "prisma"]
	path = prisma
	url = https://github.com/malcolmston/prisma.git
	branch = main
[submodule "jwt"]
	path = jwt
	url = https://github.com/malcolmston/jwt.git
	branch = main
[submodule "nodemailer"]
	path = nodemailer
	url = https://github.com/malcolmston/nodemailer.git
	branch = main
[submodule "cheerio"]
	path = cheerio
	url = https://github.com/malcolmston/cheerio.git
	branch = main
[submodule "handlebars"]
	path = handlebars
	url = https://github.com/malcolmston/handlebars.git
	branch = main
