[submodule "express"]
	path = express
	url = https://github.com/malcolmston/express.git
	branch = claude/express-passport-go-sqk2ee
[submodule "passport"]
	path = passport
	url = https://github.com/malcolmston/passport.git
	branch = claude/express-passport-go-sqk2ee
[submodule "socket.io"]
	path = socket.io
	url = https://github.com/malcolmston/socket.io.git
	branch = claude/express-passport-go-sqk2ee
[submodule "chalk"]
	path = chalk
	url = https://github.com/malcolmston/chalk.git
	branch = claude/express-passport-go-sqk2ee
[submodule "morgan"]
	path = morgan
	url = https://github.com/malcolmston/morgan.git
	branch = claude/express-passport-go-sqk2ee
