[submodule "express"]
	path = express
	url = https://github.com/malcolmston/express.git
	branch = main
[submodule "passport"]
	path = passport
	url = https://github.com/malcolmston/passport.git
	branch = main
[submodule "socket.io"]
	path = socket.io
	url = https://github.com/malcolmston/socket.io.git
	branch = main
[submodule "chalk"]
	path = chalk
	url = https://github.com/malcolmston/chalk.git
	branch = main
[submodule "morgan"]
	path = morgan
	url = https://github.com/malcolmston/morgan.git
	branch = main
[submodule "fastmcp"]
	path = fastmcp
	url = https://github.com/malcolmston/fastmcp.git
	branch = main
[submodule "streamlit"]
	path = streamlit
	url = https://github.com/malcolmston/streamlit.git
	branch = main
[submodule "algebra"]
	path = algebra
	url = https://github.com/malcolmston/algebra.git
	branch = main
[submodule "opencv"]
	path = opencv
	url = https://github.com/malcolmston/opencv.git
	branch = main
